.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
    width:100%;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }

  .checkbox{
      margin-left: 10%
  }

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  label {
    display: block;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

  #checkboxes input{
    width: 20%;
  }

  

  .pagination li{
    padding: 5px;
    margin-top: 3%

  }
  .pagination li:hover{
    padding: 5px;
    background: #5768f3;
    color: white;

  }
  .nav-item-name{
    border: none
  }

.sidebar{
  height: 100%;
  position: fixed;

  overflow-x: hidden;
}
.sidebar .nav{
    height: 75%;
    overflow: scroll;
  }
.table td{
  max-width: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  white-space: normal;
}
/* tbody {
  height: 50px;
  overflow: scroll;
} */

.table td:hover{
  text-align: left;
  white-space: normal;
  background: #A9A9A9;
}
html,body{ margin:0; padding:0; height:100%; width:100%; }
.full-size{
  height:100%;
  width:100%;
}

.sidebar input{
  margin-top: 25%;
  margin-left: 12%;
}


#sidebar ul li a button{
  background-color:#1c45ef;
  /* background-image: linear-gradient(to top, rgb(87, 104, 243), rgb(28, 69, 239)); */
  width:100%;

}
.pagination-container .btn{
  position: absolute;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.pagination-container .btn:hover {
  background-color: #1c45ef;
  color: white;
}


  